.homePage{
    background-image: url(../img/Pozadí_cut_lowopacity.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.homePage main{
    text-align: center;
    margin-top: 8em;
}

.homePage h2{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.homePage p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.homePage .ZWA{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color: #9F7C35;
}

.getUnderline{
    text-decoration: underline;
}

.getBold{
    font-weight: bold;
}

.homePage .reservation{
    width: 10em;
    padding: 1em;
    border: 8px solid #9F7C35;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}

.homePage .midButton{
    margin-top: 8em;
    text-align: center;

}

.homePage .reservation:hover{
    background-color: #9F7C35;
    font-weight: bold;
    transition-duration: 0.5s;
}

.galleryPage{
    background-image: url(../img/GalleryBackground.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.galleryPage .Gallery{
    text-align: center;
    color:#9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    margin-top: 40px;
}

.galleryPage .pictures{
    background-color: rgba(255, 255, 255, 0.308);
    margin: 20px 20px 20px 20px;
    padding: 15px;
    border-radius: 20px;
    width: 840px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.galleryPage .pictures img{
    width: 300px;
    opacity: 0.7;
    margin: 10px;
    border-radius: 10px;
}

.galleryPage .pictures img:hover{
    opacity: 1;
    width: 480px;
    transition-delay: 250ms;
    transition-duration: 1.8s;
    transition-timing-function: ease-in;
}

.galleryPage .container{
    text-align: center;
    margin-bottom: 20px;
}

.galleryPage #zoomIn{
    max-width: 800px;
    border-radius: 20px;
}

.priceListPage{
    background-image: url(../img/Pricelistdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.priceListPage .priceList{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
}

.priceListPage .Price{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
}

.priceListPage .description{
    text-align: center;
    font-family: 'Courier New';
    color: #C4BEB2;
    font-size: 1.2em;
    margin-bottom: 50px;
}

.priceListPage p{
    margin-top: 10px;
}


.priceListPage h3{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.priceListPage .pricing{
    font-family: 'Courier New', Courier, monospace;
    color: #9F7C35;
    display: inline-block;
}

.priceListPage .undertext{
    margin-top: -10px;
}

.chooseDayPage{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.chooseDayPage  .BookIT{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.chooseDayPage  .Book{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.chooseDayPage  .container{
    background-color: rgba(255, 255, 255, 0.644);
    width: 15em;
    height: auto;
    padding: 20px 20px 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.chooseDayPage fieldset legend {
    text-align: center;
    color: #835804;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold; 
}

.chooseDayPage input[type="date"] { 
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
}

.chooseDayPage fieldset{
    border:2px solid #ffffffbd;
    border-radius: 10px;
    margin-bottom: 20px;
}


.chooseDayPage input[type=submit] {
    width: 200px;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chooseDayPage input[type=submit]:hover {
    background-color: #835804;
}

.chooseDayPage p{
    color: rgba(206, 16, 16, 0.767);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
}

.aboutUsPage {
    background-image: url(../img/Followbarberdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.aboutUsPage .AboutUs{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.aboutUsPage .description{
    text-align: center;
    font-family: 'Courier New';
    color: white;
    font-size: 1.5em;
}

.aboutUsPage .About{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.aboutUsPage .images img{
    border-radius: 50px;
    width:30%;
    padding: 20px;
}

.aboutUsPage .images{
    text-align: center;
}

.aboutUsPage .article{
    width: 35em;
    margin-left: auto;
    margin-right: auto;
}

.contactUsPage{
    background-image: url(../img/contactus1darken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contactUsPage .ContactUs{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contactUsPage .Contact{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.contactUsPage .windows{
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    text-align: center;
}

.contactUsPage .address{
    background-color: rgba(0, 0, 0, 0.322);
    min-height: 300px;
    min-width: 25%;
    border-radius: 40px;
}

.contactUsPage .contact{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 300px;
    min-width: 30%;
    border-radius: 40px;
}

.contactUsPage .openhours{
    background-color: rgba(0, 0, 0, 0.473);
    min-height: 300px;
    min-width: 25%;
    border-radius: 40px;
}

.contactUsPage div p{
    font-weight: initial;
}

.contactUsPage .getColor{
    color: #d3a64c;
    font-weight: bold;
}

.contactUsPage .icon{
    margin-top: -30px;
    width: 6em;
}

.contactUsPage iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 700px;
    height: 400px;
}

.loginPage {
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginPage .LogIn{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.loginPage .Log{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.loginPage input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
  
.loginPage input[type=submit] {
    width: 100%;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.loginPage input[type=submit]:hover {
    background-color: #835804;
}
  
.loginPage .Booking{
    width: 15em;
    border-radius: 20px;
    background-color: #f2f2f2a9;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginPage .error{
    background-color: rgba(255, 0, 0, 0.274);
    border: none;
    animation-name: shake;
    animation-duration: 0.3s;
}

.loginPage .errorInput{
    color: rgb(255, 0, 0);
    animation-name: shake;
    animation-duration: 0.3s;
}

@keyframes shake {
    0%   {margin-left:15px;}
    25%  {margin-left:-10px;}
    50%   {margin-left:15px;}
    75%  {margin-left:-10px;}
    100% {margin-left:0px;}
}

.bookItPage {
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bookItPage .BookIT{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 30px;
}

.bookItPage .Book{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}


.bookItPage .form{
    width: 30em;
    border-radius: 20px;
    background-color: #fffefbb7;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.bookItPage .timeArticle{
    width: 19em;
    margin-right: auto;
    margin-left: auto;
}

.bookItPage fieldset legend {
    text-align: center;
    color: #886a2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.bookItPage fieldset{
    border:2px solid #ffffffbd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bookItPage input[type="text"]{
    width: auto;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

.bookItPage input[type="password"]{
    width: auto;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

.bookItPage input[type=submit] {
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.bookItPage input[type=submit]:hover {
    width: auto;
    background-color: #835804;
}

.bookItPage input[type=reset] {
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.bookItPage input[type=reset]:hover {
    width: auto;
    background-color: #835804;
}

.bookItPage .BackButton{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.bookItPage .BackButton:hover {
    width: auto;
    background-color: #835804;
}

.bookItPage textarea{
    width: auto;
    padding: 12px 20px;
    border-radius: 20px;
    resize: none;
    border: none;
}

.bookItPage .form #Choosedday{
    text-align: center;
    color: #886a2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

.bookItPage form p{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.DuplicityPage {
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.DuplicityPage .login{
    width: 10em;
    padding: 1em;
    border: 8px solid #9F7C35;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}

.DuplicityPage .midButton{
    margin-top: 8em;
    text-align: center;
    float: top;
    float: bottom;
}

.DuplicityPage .login:hover{
    background-color: #9F7C35;
    font-weight: bold;
    transition-duration: 0.5s;
}

.DuplicityPage .Alert{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.DuplicityPage .getBold{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.allReservationPage {
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.allReservationPage .AllReservation{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.allReservationPage .ALL{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.allReservationPage .container{
    background-color: rgba(255, 255, 255, 0.521);
    width: 25em;
    height: auto;
    padding: 20px 20px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}
.allReservationPage .windows{
    font-size: 1.5em;
    margin-bottom: 30px;
}

.allReservationPage .day{
    width: 10em;
    background-color: rgba(255, 255, 255, 0.596);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.allReservationPage .LogOut{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.allReservationPage .LogOut:hover {
    width: auto;
    background-color: #835804;
}

.bookedPage{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bookedPage .YourReservation{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bookedPage .Your{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.bookedPage .container{
    background-color: rgba(255, 255, 255, 0.671);
    width: 25em;
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.bookedPage h2{
    font-family: 'Courier New', Courier, monospace;
    color: #9F7C35;
}

.bookedPage p{
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.bookedPage .EditkButton{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.bookedPage .EditkButton:hover {
    width: auto;
    background-color: #835804;
}

.bookedPage .DeleteButton{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.bookedPage .DeleteButton:hover {
    width: auto;
    background-color: #835804;
}

.bookedPage .LogOut{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.bookedPage .LogOut:hover {
    width: auto;
    background-color: #835804;
}

.bookedPage #telnum{
    margin-bottom: 30px;
}

.deletePage{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.deletePage .container{
    background-color: rgba(255, 255, 255, 0.671);
    width: 25em;
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.deletePage h2{
    font-family: 'Courier New', Courier, monospace;
    color: #9F7C35;
}

.serverDropPage {
    background-image: url(../img/FailCut.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.serverDropPage .container{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.serverDropPage .OOPS{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center; 
}

.MilanCu{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.getGold{
    color: #e0af4d;
    font-family: 'Courier New', Courier, monospace;
}

nav .logo{
    width: 100px;
    padding: 5px;
}

nav{
    background-color: rgba(0, 0, 0, 0.253);
    /* width: auto; */
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding-right: 1em;
    padding-left: 1em;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
}

nav a:hover{
    color: #c79d48;
}

.watermark{
    display: none;
}

#covid{
    color: black;
    font-size: 0.5em;
}

#filter{
    margin-bottom: 10px;
    margin-top: -10px;
}