.aboutUsPage {
    background-image: url(../img/Followbarberdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.aboutUsPage .AboutUs{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.aboutUsPage .description{
    text-align: center;
    font-family: 'Courier New';
    color: white;
    font-size: 1.5em;
}

.aboutUsPage .About{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.aboutUsPage .images img{
    border-radius: 50px;
    width:30%;
    padding: 20px;
}

.aboutUsPage .images{
    text-align: center;
}

.aboutUsPage .article{
    width: 35em;
    margin-left: auto;
    margin-right: auto;
}