.allReservationPage {
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.allReservationPage .AllReservation{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.allReservationPage .ALL{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.allReservationPage .container{
    background-color: rgba(255, 255, 255, 0.521);
    width: 25em;
    height: auto;
    padding: 20px 20px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}
.allReservationPage .windows{
    font-size: 1.5em;
    margin-bottom: 30px;
}

.allReservationPage .day{
    width: 10em;
    background-color: rgba(255, 255, 255, 0.596);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.allReservationPage .LogOut{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.allReservationPage .LogOut:hover {
    width: auto;
    background-color: #835804;
}