body{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.DuplicityPage .Alert{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 30px;
}

.DuplicityPage .Book{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.form{
    width: 30em;
    border-radius: 20px;
    background-color: #fffefbb7;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.timeArticle{
    width: 19em;
    margin-right: auto;
    margin-left: auto;
}

fieldset legend {
    text-align: center;
    color: #886a2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-bottom: 10px;
}

fieldset{
    border:2px solid #ffffffbd;
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type="text"]{
    width: auto;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

input[type="password"]{
    width: auto;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

input[type=submit] {
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

input[type=submit]:hover {
    width: auto;
    background-color: #835804;
}

input[type=reset] {
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}

input[type=reset]:hover {
    width: auto;
    background-color: #835804;
}

.BackButton{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.BackButton:hover {
    width: auto;
    background-color: #835804;
}

textarea{
    width: auto;
    padding: 12px 20px;
    border-radius: 20px;
    resize: none;
    border: none;
}

.form #Choosedday{
    text-align: center;
    color: #886a2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

form p{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.watermark{
    display: none;
}