.bookedPage{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bookedPage .YourReservation{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bookedPage .Your{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.bookedPage .container{
    background-color: rgba(255, 255, 255, 0.671);
    width: 25em;
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.bookedPage h2{
    font-family: 'Courier New', Courier, monospace;
    color: #9F7C35;
}

.bookedPage p{
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.bookedPage .EditkButton{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.bookedPage .EditkButton:hover {
    width: auto;
    background-color: #835804;
}

.bookedPage .DeleteButton{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.bookedPage .DeleteButton:hover {
    width: auto;
    background-color: #835804;
}

.bookedPage .LogOut{
    width: auto;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.7em;
}

.bookedPage .LogOut:hover {
    width: auto;
    background-color: #835804;
}

.bookedPage #telnum{
    margin-bottom: 30px;
}