.loginPage {
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginPage .LogIn{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.loginPage .Log{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.loginPage input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
  
.loginPage input[type=submit] {
    width: 100%;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.loginPage input[type=submit]:hover {
    background-color: #835804;
}
  
.loginPage .Booking{
    width: 15em;
    border-radius: 20px;
    background-color: #f2f2f2a9;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginPage .error{
    background-color: rgba(255, 0, 0, 0.274);
    border: none;
    animation-name: shake;
    animation-duration: 0.3s;
}

.loginPage .errorInput{
    color: rgb(255, 0, 0);
    animation-name: shake;
    animation-duration: 0.3s;
}

@keyframes shake {
    0%   {margin-left:15px;}
    25%  {margin-left:-10px;}
    50%   {margin-left:15px;}
    75%  {margin-left:-10px;}
    100% {margin-left:0px;}
}
