.chooseDayPage{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.chooseDayPage  .BookIT{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.chooseDayPage  .Book{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.chooseDayPage  .container{
    background-color: rgba(255, 255, 255, 0.644);
    width: 15em;
    height: auto;
    padding: 20px 20px 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.chooseDayPage fieldset legend {
    text-align: center;
    color: #835804;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold; 
}

.chooseDayPage input[type="date"] { 
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
}

.chooseDayPage fieldset{
    border:2px solid #ffffffbd;
    border-radius: 10px;
    margin-bottom: 20px;
}


.chooseDayPage input[type=submit] {
    width: 200px;
    background-color: #9F7C35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chooseDayPage input[type=submit]:hover {
    background-color: #835804;
}

.chooseDayPage p{
    color: rgba(206, 16, 16, 0.767);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
}
