.contactUsPage{
    background-image: url(../img/contactus1darken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contactUsPage .ContactUs{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contactUsPage .Contact{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.contactUsPage .windows{
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    text-align: center;
}

.contactUsPage .address{
    background-color: rgba(0, 0, 0, 0.322);
    min-height: 300px;
    min-width: 25%;
    border-radius: 40px;
}

.contactUsPage .contact{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 300px;
    min-width: 30%;
    border-radius: 40px;
}

.contactUsPage .openhours{
    background-color: rgba(0, 0, 0, 0.473);
    min-height: 300px;
    min-width: 25%;
    border-radius: 40px;
}

.contactUsPage div p{
    font-weight: initial;
}

.contactUsPage .getColor{
    color: #d3a64c;
    font-weight: bold;
}

.contactUsPage .icon{
    margin-top: -30px;
    width: 6em;
}

.contactUsPage iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 700px;
    height: 400px;
}

