.deletePage body{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.deletePage .container{
    background-color: rgba(255, 255, 255, 0.671);
    width: 25em;
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.deletePage h2{
    font-family: 'Courier New', Courier, monospace;
    color: #9F7C35;
}
