body{
    background-image: url(../img/Reservationdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.DuplicityPage .Alert{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.DuplicityPage .getBold{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.getUnderline{
    text-decoration: underline;
}

.login{
    width: 10em;
    padding: 1em;
    border: 8px solid #9F7C35;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}

.midButton{
    margin-top: 8em;
    text-align: center;
    float: top;
    float: bottom;
}

.login:hover{
    background-color: #9F7C35;
    font-weight: bold;
    transition-duration: 0.5s;
}

.watermark{
    display: none;
}