footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center; 
}

.MilanCu{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.getGold{
    color: #e0af4d;
    font-family: 'Courier New', Courier, monospace;
}