.galleryPage body{
    background-image: url(../img/GalleryBackground.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.galleryPage .Gallery{
    text-align: center;
    color:#9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    margin-top: 40px;
}

.galleryPage .pictures{
    background-color: rgba(255, 255, 255, 0.308);
    margin: 20px 20px 20px 20px;
    padding: 15px;
    border-radius: 20px;
    min-width: 400px;
    text-align: center;
    overflow: hidden;
}

.galleryPage .pictures img{
    max-width: 200px;
    opacity: 0.8;
    margin: 10px;
    border-radius: 10px;
}

.galleryPage .pictures img:hover{
    opacity: 1;
}

.galleryPage .container{
    text-align: center;
    margin-bottom: 20px;
}

.galleryPage #zoomIn{
    max-width: 800px;
    border-radius: 20px;
}