nav .logo{
    width: 100px;
    padding: 5px;
}

nav{
    background-color: rgba(0, 0, 0, 0.253);
    /* width: auto; */
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding-right: 1em;
    padding-left: 1em;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
}

nav a:hover{
    color: #c79d48;
}