.priceListPage{
    background-image: url(../img/Pricelistdarken.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.priceListPage .priceList{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
}

.priceListPage .Price{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
}

.priceListPage .description{
    text-align: center;
    font-family: 'Courier New';
    color: #C4BEB2;
    font-size: 1.2em;
    margin-bottom: 50px;
}

.priceListPage p{
    margin-top: 10px;
}


.priceListPage h3{
    font-size: 1.5em;
    font-size: bold;
    color: white;
    margin-bottom: 10px;
}

.priceListPage .pricing{
    font-family: 'Courier New', Courier, monospace;
    color: #9F7C35;
    display: inline-block;
}

.priceListPage .undertext{
    margin-top: -10px;
}