.serverDropPage {
    background-image: url(../img/FailCut.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.serverDropPage .container{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.serverDropPage .OOPS{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}
