body{
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.ZWA{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #9F7C35;
}

.AboutUs{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}
.About{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.images img{
    margin: 20px;
    width: 50%;
}

.AllReservation{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ALL{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.YourReservation{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Your{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.day{
    height: auto;
    width: 10em;
    border-style: solid;
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.BookIT{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Book{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.form{
    width: 30em;
    margin-right: auto;
    margin-left: auto;
}

.ContactUs{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Contact{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.windows img{
    width: 8%;
}

.deletePage .container{
    background-color: rgba(255, 255, 255, 0.671);
    width: 25em;
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    color: black;
    text-align: center;
}

.Alert{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.getBold{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.Gallery{
    text-align: center;
    color:#9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 40px;
}

.pictures img{
    width: 50%;
    opacity: 1;
}

.BookIT{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Book{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.loginPage .LogIn{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.loginPage .Log{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.loginPage .Booking{
    width: 18em;
    background-color: #f2f2f23a;
    padding: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.loginPage input{
    margin: 20px;
}

.chooseDayPage .container{
    width: 20em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.priceList{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
}

.Price{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
}
.OOPS{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.serverDropPage .container{
    background-color: rgba(255, 255, 255, 0.671);
    width: 25em;
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    color: black;
    text-align: center;
}

nav, footer, .midButton, a, .prevlink, .nextlink, #buttons, .errorTime, .errorName, .errorEmail, .errorTel, .errorPass, .errorPassCheck, iframe, #reservation, .login, .galleryPage .container{
    display: none;
}

.getUnderline{
    text-decoration: underline;
}

.getBold{
    font-weight: bold;
}

.watermark {
    display: block;
    position: fixed !important;
    opacity: 0.20;
    width: 100%;
    z-index: -1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
}

