body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
nav, footer, a{
    display: none;
}

.AllReservation{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ALL{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}
.getUnderline{
    text-decoration: underline;
}

.watermark {
    display: block;
    position: fixed !important;
    opacity: 0.20;
    width: 100%;
    z-index: -1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
}

.day{
    height: auto;
    width: 10em;
    border-style: solid;
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.prevlink, .nextlink{
    display: none;
}

