body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
nav, footer, #buttons, .errorTime, .errorName, .errorEmail, .errorTel, .errorPass, .errorPassCheck{
    display: none;
}

.watermark {
    display: block;
    position: fixed !important;
    opacity: 0.10;
    width: 100%;
    z-index: -1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
}

.BookIT{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Book{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.getUnderline{
    text-decoration: underline;
}

.form{
    width: 30em;
    margin-right: auto;
    margin-left: auto;
}