body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.watermark {
    display: block;
    position: fixed !important;
    opacity: 0.20;
    width: 100%;
    z-index: -1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
}

.container{
    background-color: rgba(255, 255, 255, 0.671);
    width: 25em;
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    color: black;
    text-align: center;
}

nav, footer{
    display: none;
}