body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    text-align: center;
}

.Gallery{
    text-align: center;
    color:#9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 40px;
}

.getBold {
    font-weight: bold;  
}

nav, footer, .container{
    display: none;
}

.pictures img{
    width: 50%;
    opacity: 1;
}

.watermark {
    display: block;
    position: fixed !important;
    opacity: 0.10;
    width: 100%;
    z-index: -1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
}