body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.loginPage .LogIn{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.loginPage .Log{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
}

.getUnderline{
    text-decoration: underline;
}

.loginPage .Booking{
    width: 18em;
    background-color: #f2f2f23a;
    padding: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.loginPage input{
    margin: 20px;
}

nav, footer{
    display: none;
}

.watermark {
    display: block;
    position: fixed !important;
    opacity: 0.20;
    width: 100%;
    z-index: -1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
}
