body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    text-align: center;
}
.watermark {
    display: block;
    position: fixed !important;
    opacity: 0.10;
    width: 100%;
    z-index: -1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
}

nav, footer{
    display: none;
}

.priceList{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 40px;
}

.Price{
    color: #9F7C35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
}
.getUnderline{
    text-decoration: underline;
}